# This file is used to configure the AFRC compression rate based on the process name.
# format should be: "process name" := "compression rate"
# for example:  com.android.example:=SIZE_24
# Note: you can add "ALL:=SIZE_xx" to enable AFRC for all process

#ALL:=SIZE_16
#com.antutu.ABenchMark:=SIZE_24
#com.antutu.ABenchMark:push:=SIZE_24
#com.antutu.benchmark.full:=SIZE_24
#com.antutu.benchmark.full:unity:=SIZE_24
#com.antutu.benchmark.full:refinery:=SIZE_24

